<div *ngIf="books && books.length > 0" class="pt-3">
  <carousel [itemsPerSlide]="itemsPerSlide" [singleSlideOffset]="singleSlideOffset" [noWrap]="noWrap" [interval]="0"
    (slideRangeChange)="onSlideRangeChange($event)">
    <slide *ngFor="let book of books; let index=index">
      <img [src]="book.bookAvatarUrl" alt="Book cover" style="display: block; width: 100%;">
      <div class="carousel-caption">
        <h5 style="cursor: pointer;" routerLink="/book/{{book.id}}">{{ book.title }}</h5>
        <p>{{ book.dateOfPublish }}</p>
      </div>
    </slide>
  </carousel>
</div>