<div class="container-fluid gray">
    <div class="container ">
        <div class="row">
            <div class="col-md-3">
                <div class="card m-3">
                    <img [src]="author.authorAvatarUrl" alt="{{author.name}}" class="card-img-top img-thumbnail">
                    <div class="card-body">
                        <div class="text-center">
                            <strong class="fs-5">{{author.name}}</strong>
                        </div>
                        <div class="py-2">
                            <p><strong>Born in:</strong> {{author.dateOfBirth}}
                            </p>
                            <p><strong>Most popular genre: </strong> {{author.mainCategory}}
                            </p>
                            <div class="my-2">
                                <button class="btn btn-primary" (click)="addAuthorToFavorites()">Add this author </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid light-gray ">
    <div class="mb-2 container">
        <app-carousel-book [books]="books"></app-carousel-book>
    </div>
</div>