.card-body {
  padding: 0 25px;
}

.card-footer {
  padding: 10px 15px;
  background-color: #fff;
  border-top: none;
}

.book-detail {
  display: inline;
  color: inherit;
  text-decoration: none;
  transition: color 0.3s, text-decoration 0.3s;
}

.book-detail:hover {
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
}


.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: fill;
}

.star-rating{
  display: flex;
  align-items: center;
  text-shadow: 0 0 1px black;
}

.star-rating .filled{
  color: gold;
}

.star-rating mat-icon{
  font-size: 24px;
  color: gray;
  cursor: pointer;
}


.star-rating mat-icon:hover {
  color: orange; 
}


.star-rating-no-user .filled{
  color: gold;
}