<div class="container mt-5">
    <div class="row">
        <!-- Card Column -->
        <div class="col-md-3">
            <div class="card">
                <img src="{{book.bookAvatarUrl}}" alt="{{book.title}}" class="card-img-top img-thumbnail">
                <div class="card-body">
                    <div class="text-center">
                        <strong>{{book.title}}</strong>
                    </div>
                    <div>
                        <p class="pt-2">Authors: 
                            <span *ngFor="let author of getAuthors(); let last = last">
                                <a class="book-detail" [routerLink]="['/author/', author.id]">{{author.name}}</a><span *ngIf="!last">, </span>
                            </span>
                        </p>
                    </div>
                    <div>
                        <p>Published on: {{book.dateOfPublish}}</p>
                    </div>
                    <div>
                        <p>Published by: {{book.publisherName}}</p>
                    </div>
                    <div>
                        <p>Categories: {{getCategories()}}</p>
                    </div>
                    <div *ngIf="currentUser" class="my-2">
                        <button class="btn btn-primary" (click)="markBookAsRead()">Add this book to your profile!</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- Description Column -->
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">
                    <h5>Description</h5>
                    <p>{{book.description}}</p>
                </div>
                <div class="col-md-4">
                    <h5>Additional Info</h5>
                    <p>Users Grade</p>
                    <form *ngIf="currentUser" (ngSubmit)="submitGrade()" >
                        <div class="star-rating">
                            <ng-container *ngFor="let star of getStarArray()">
                                <mat-icon
                                [ngClass]="{'filled': star <= (hoveredGrade || selectedGrade || book.averageGrade)}"
                                (mouseenter)="hoverGrade(star)"
                                (mouseleave)="resetHover()"
                                (click)="selectGrade(star)" 
                                >star</mat-icon>
                            </ng-container>
                        </div>
                        <button type="submit" class="btn btn-dark mt-2" [disabled]="selectedGrade ===0">submit your rating</button>
                    </form>
                    <div *ngIf="!currentUser" class="star-rating-no-user">
                        <ng-container *ngFor="let star of getStarArray()">
                            <mat-icon
                            [ngClass]="{'filled': star <= book.averageGrade}"
                            >star</mat-icon>
                        </ng-container>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5>Reviews</h5>
                    <p>Average Rating:</p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>